.konstaktOssHeadBox {
  background: rgb(202, 202, 202);
  padding: 5px;
}
.kontaktOssHead {
  padding-left: 5px;
}
.kontaktBody {
  margin: 0;
  padding: 0;
}
.kontaktForm {
  background: rgb(231, 231, 231);
  margin-bottom: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
}
.kontaktForm ul {
  list-style-type: none;
}
.kontaktForm ul li {
  padding: 5px;
  font-size: 1.3rem;
}
.kontaktForm ul li textarea {
  width: 600px;
}
.konstaktInfoHead {
  padding-left: 22px;
  padding-top: 20px;
}
.kontaktInfoBox {
  position: static;
  bottom: 0;
  width: 100%;
  background: rgb(231, 231, 231);
  margin: 5;
  padding: 5;
  padding-bottom: 60px;
}
.kontaktInfo {
  display: flex;
  font-size: 1.6rem;
  justify-content: space-around;
}
.kontaktIkon {
  max-width: 20px;
  max-height: 20px;
}
